@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
 :root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(32, 77, 57);
  --colorShadeB: rgb(19, 93, 58);
  --colorShadeC: rgb(46, 106, 79);
  --colorShadeD: #D6CDA4;
  --colorShadeE: #D6CDA4;
 }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;

}
.welcome {
  margin-top: 5vh;
  height: 5vh;
  font-size: 2.4vh;
  color:#EEF2E6;
  background-color: #1C6758;
}
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.one{
  background-color: #1C6758;
 
}
.two{
  background-color: #1C6758;
}
.three{
  background-color: #1C6758;
}
.info {
  margin-top: 5vh;
  z-index: 9;
}
.pagewrap {
  height: 60vh;
}
.title {
  background-color:#D6CDA4;
  
}
.info {
  background-color: #D6CDA4;
  position: inherit;
  border-radius: 2%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15%);
  -webkit-backdrop-filter: blur(5%);
  border: 1px solid rgba(214, 205, 164, 0.67);
  margin-left: 10vw;
  width: 45vw;

}
Canvas {
  height: 5%;
  width: 5%;
  position: relative;
  left: 40%;
  -ms-transform: translateY(10%);
  transform: translateY(-15%);
  margin: 0;
  z-index: 1;
  float:right;
}
div.canvas {
  height: 5%;
  width: 5%;
}
.pagewrap{
  margin-top: 5vh;
  margin-right: 15vw;
  max-width: 40vw;
}
/* 
.paragraph {
  display:flex;
  align-content: center;
  justify-content: center;
}
 */

Nav {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  float:left
}
.Introduction {
  color: #EEF2E6;
  background-color: #D6CDA4;
  z-index: 9;
}
.sidenav {
  width: 15%;
  background: #3D8361;
  box-shadow: 0 50px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid #3b520d;
  height: 100%;
  position: fixed;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 0em;
  align-items: center;
  flex-direction: column;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh;
}

.aboutcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projectwrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
}
.Project {
  margin-left: 35vw;;
  height:10vh
}
.projectcontainer {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

/* buttons */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  font-size: 2vh;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

