@font-face {
  src: url(../SPRYRO_2.ttf);
  font-family: spy;
}


body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 40vh;
  background-image: url('https://pbs.twimg.com/media/FPKgmXwX0AIT8W_.jpg:large');
  background-size: cover;
  background-attachment: fixed;


}
Canvas {
  
  height: 50vh;
  width: 50vw;
 
}
.Loading {
  color: gold;
  font-family: spy;
  font-size: 5vh;
  padding-bottom: 15vh;
}
.paragraph {
  
  display:flex;
  align-content: center;
  justify-content: center;
}
.About {
  color: gold;
  font-family: spy;
  font-size: 3vh;
  height: 3vh;
}
p {
  /* background-color: rgb(120, 178, 225); */
  height: 50vh;
  width: 30vw;
  color: rgb(255, 255, 255);
  font-family: spy;
  font-size: 25px;;
  background: rgba(11, 233, 247, 0.13);
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(11, 233, 247, 0.74);
    
  
}
Nav {
  margin-bottom: 5vh;
}

.pagewrap {
  margin-bottom: 0vh;
  display: flex;
  flex-direction: column;
}
.image {
  height: 45px;
  width: 45px;
}

button {
  height: 5vh;
  width: 15vw;
  color: gold;
  border: none;
  font-size: 4vh;
  background: none;
  cursor: pointer;
  margin-top: 5vh;
}
.left {
  margin-left: 5vw;
}
.right {
  margin-right: 5vw;
}
.aboutcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projectwrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
}
.Project {
  margin-left: 35vw;;
  height:10vh
}
.projectcontainer {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
.box {
  height: 10vh;
  width: 10vw;
  color: rgb(255, 255, 255);
  font-family: spy;
  font-size: 25px;;
  background: rgba(11, 233, 247, 0.13);
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(11, 233, 247, 0.74);
  align-self: center;
  cursor: pointer

}
.gameconsole {
  background: rgba(210, 42, 236, 0.42);
  border: 1px solid rgba(134, 71, 190, 0.74);
  box-shadow: 0 4px 30px rgba(125, 34, 185, 0.1);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content:space-between;
  position:fixed;
  bottom: 0;
}
.gif {
  border-radius: 50%;
  height: 50%;
  margin-top: 4vh;
}
